<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h3>Students</h3>
<p>
    We have a total of <span th:text="${students.size()}"></span> students in this app.
</p>

<ul th:each="student : ${students}">
    <li th:text="${student.name}"></li>
</ul>

</body>
</html>